@import 'tailwindcss';
@plugin "daisyui";

@layer base {
  /* Styling struggles with password manager */
  input[data-com-onepassword-filled] {
    background-clip: text;
  }
}

body {
  background-color: #6F53FD;
}

